.join-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .join-container .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  
  .btn-block {
    display: block;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: #74A3FF;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .btn{
    width: 100%;
    margin-bottom: 10px;
  }