.join-container {
    max-width: 400px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .join-container .form-group {
    margin-bottom: 200px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 4px;
  }
  
  .submit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  