.postCommemntForm-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.PostCommentForm-container {
    width: 100%;
    margin-top: 10%;
}

.PostCommentFormtextarea-container {
    display: flex; 
    align-items: center;
}

.PostCommentFormtextarea {
    flex-grow: 1;
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #F9F9F9;
    border: 1px solid #ddd;
    border-radius: 20px;
    resize: none;
    margin-right: 10px;
    width: auto; /* 가로 길이를 부모 요소의 120%로 설정 */
}

.submitBtn {
    padding: 10px;
    background-color: #74A3FF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: auto;
}

.submitBtn:hover {
    background-color: #74A3FF;
}
