.productList-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8f8;
  }
  
  .products-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    list-style-type: none;
    margin-top: 30px;
  }
  
  .productList-container h2,
  .productList-container h6 {
    color: #74A3FF;
    margin: 0;
  }

  .productList-container h2 {
  margin-bottom: 10px;
  }

  .productList-container h6 {
  margin-bottom: 20px;
  }

  .products-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .products-container li {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 200px;
  }
  
  .products-container h3 {
    margin-bottom: 10px;
    color: #555;
  }
  
  .products-container p {
    margin: 5px 0;
    color: #777;
  }

  .ProductSearch-container {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  .ProductNameBtn {
    background-color: #74A3FF;
    color: white;
    font-size: 13px;
    border: none;
  }
  
  