.reports-page {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}  

.title {
    text-align: center;
    font-size: 2em;
}

.subtitle {
    font-size: 1.5em;
    margin-top: 20px;
}

.report-card {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.report-detail {
    margin: 5px 0;
}
