  .reports-page .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin: 20px auto;
    box-sizing: border-box;
    margin-top: 100px;
  }
  
  .reports-page h1 {
    margin: 0;
  }
  
  .reports-page nav {
    margin-left: auto;
  }
  