.Post-container {
    display: flex;
    padding: 50px;
    background-color: #fafafa;
    border-radius: 20px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.post-left, .post-right {
    width: 50%;
}

.post-left {
    padding-right: 25px;
}

.post-right {
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title-actions {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.post-title {
    flex: 2;
    font-size: 30px;
}
.post-actions {
    flex: 1;
}

/* username 및 수정,삭제 버튼 */
.post-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.post-actions button {
    margin-bottom: 10px;
}
.btn-update, .btn-delete {
    width: 150px;
}
.btn-update {
    background-color: #E2CDBA;
    color: #8B4513;
    border: none;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    margin-right: 10px; 
    width: auto;
}
.btn-delete {
    background-color: white;
    color: #8B4513;
    border: 1px solid #8B4513;
    padding: 10px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    border-radius: 5px;
    width: auto;
}

/* 이미지 */
.post-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 작성자 */
.post-sub {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 3px;
}
/* .post-sub img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    object-fit: cover;
    margin-right: 14px;
} */
.post-sub p {
    font-weight: 600;
    color: #262626;
}

/* 내용 */
.post-content {
    text-align: left;
    width: 100%;
}

/* 작성일 */
.post-date {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}
.post-date p {
    font-size: small;
    color: darkgray;
    margin: 10;
}

/* 신고하기 버튼 */
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
/* .btn-report {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.5em;
    color: grey;
} */
.report-container {
    display: flex;
    align-items: center;
}

/* 좋아요 버튼 */
.like-container {
    display: flex;
    align-items: center;
}
.like-container p {
    font-size: 1em;
    color: #E85B81;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.btn-like {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 1.5em;
    color: #E85B81;
}

/* 아마도 삭제 */
.comment-list-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    align-items: center;
}
