/* PostForm.css */
.post-form {
    margin-top: 120px;  /* Navbar와의 간격을 주기 위해 margin-top을 설정합니다. */
    width: 80%;  /* 폭을 80%로 줄입니다. */
    max-width: 600px;  /* 최대 폭을 600px로 제한합니다. */
    margin-left: auto;  /* 양 옆 여백을 자동으로 설정하여 가운데로 정렬합니다. */
    margin-right: auto;  /* 양 옆 여백을 자동으로 설정하여 가운데로 정렬합니다. */
}

.post-form label {
    display: block;
    margin-bottom: 10px;
}

.post-form input[type="text"],
.post-form textarea,
.post-form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.post-form button[type="submit"] {
    padding: 10px 20px;
    background-color: #74A3FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.post-form button[type="submit"]:hover {
    background-color: #5680e9;
}

.preview-container {
    display: flex;
  }

  .image-preview {
    width: 200px;  /* 이미지 프리뷰의 고정된 너비를 설정합니다. */
    margin-right: 20px;  /* 이미지와 입력 필드 간의 간격을 조절합니다. */
  }

  .input-fields {
    flex: 1;
  }

  .input-fields label {
    display: block;
    margin-bottom: 10px;
  }

  .input-fields input[type="text"],
  .input-fields textarea,
  .input-fields input[type="file"] {
    width: 100%;  /* 입력 필드의 너비를 100%로 설정하여 유동적으로 조절됩니다. */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .input-fields button[type="submit"] {
    padding: 10px 20px;
    background-color: #74A3FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .input-fields button[type="submit"]:hover {
    background-color: #5680e9;
  }
