.post-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px; /* 상단 컨테이너에 패딩 추가 */
  }
  
  .post-container h2,
  .post-container h6 {
    color: #74A3FF;
    margin: 0;
  }
  
  .post-container h2 {
    margin-bottom: 10px;
  }
  
  .post-container h6 {
    margin-bottom: 20px;
  }
  
  .post-container h6:first-of-type {
    margin-bottom: 10px;
  }
  
  .post-container h6:last-of-type {
    margin-bottom: 20px;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 30px;
    padding: 30px;
    background-color: #fbfbfb;
    border-radius: 20px;
  }
  
  .form-right .title-label {
    color: #74A3FF;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .form-right .content-label {
    color: #74A3FF;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .form-right .upload-label {
    color: #74A3FF;
    margin-bottom: 15px;
    font-weight: bold;
  }
  
  .form-left .preview-text {
    color: #333;
    font-weight: bold;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .form-left,
  .form-right {
    display: flex;
    flex-direction: column;
    width: 48%;
  }
  
  .form-left {
    margin-right: 4%;
    align-items: center;
    display: flex;
  }
  
  .form-left label,
  .form-right label {
    margin-bottom: 15px;
  }
  
  .form-left input,
  .form-right input,
  .form-right textarea {
    width: 100%;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .form-left p {
    color: #74A3FF;
  }
  
  .button {
    padding: 10px;
    background-color: #74A3FF;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }

