.postItem {
    width: 30%;
    margin: 0 auto; 
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
}

.postItem:not(:last-child) {
    border-bottom: 1px solid #ddd;
}


.postItem .postItem-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd; 
}

.postItem .postItem-likesCount {
    font-size: 0.8em;
    color: #E85B81;
    text-align: right;
    align-self: flex-end;
}
  
.postItem .postItem-username {
    margin: 10px 0;
    font-size: 1em;
    color: #262626;
    width: 100%;
    font-weight: 600;
    text-decoration: none;
}
.postItem .postItem-username:hover {
    color: red;
}

.postItem .postItem-title {
    color: #262626;
    width: 100%;
    text-decoration: none;
}
.postItem .postItem-title-text {
    font-size: 1.1em; 
    font-weight: bold;
}
.postItem .postItem-title:hover {
    color: #8B4513;
}

.postItem .postItem-content {
    color: #262626;
    width: 100%;
    font-size: small;
}

.postItem .postItem-date {
    margin: 10px 0;
    color: darkgray;
    font-size: 0.6em; 
    width: 100%;
    text-align: right;
}
