.post-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    padding: 50px;
    background-color: #fbfbfb;
    border-radius: 20px;
}
