.parkComment-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
}

.parkComment-input-container {
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    display: flex; 
    position: relative;
}

.parkComment-input {
    flex-grow: 1; 
    padding: 10px;
    font-size: 14px;
    line-height: 1.5;
    background-color: #F9F9F9;
    border: 1px solid #ddd;
    border-radius: 20px;
    resize: none;
    margin-right: 10px;
}

.parkSubmit-button {
    position: absolute;
    bottom: 30px;
    right: 40px;
    padding: 10px;
    background-color: #74A3FF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.parkSubmit-button:hover {
    background-color: #5C8ADB;
}
